
body {
    /*colocando a fonte externa em uso em todo o conteúdo do site por isso fica no body*/
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #bbbbbb;
    /*o padding é o espaçameno interno, o primeiro é para cima e para baixo 20px e 0 para direita e esquerda*/
    padding: 20px 0;
}

.caixa {
    /*isso posiciona a caixa para ser levantada, isso faz o menu/nav estar dentro da caixa*/
    position: relative;
    /*largura fixa, ela é uma largura padrão da web*/
    width: 940px;
    /*o espaçamento externo fica 0 em cima e em baixo e automático para os lados isso delega ao brawser fazer esses cálculos laterais*/
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

/*comportamento de quando passamos o mouse*/
nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

/*css da página de produtos*/
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;    
}

.produtos li {
    /*isso faz os itens da lista ficar um ao lado do outro*/
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    /*ao adicionar esse espaço quebra a página, devemos colocar o espaçamento lateral dentro do percentual, fazemos isso com o comando abaixo*/
    padding: 30px 20px;
    /*resolvendo o problema acima, esse espaço agora é dentro da largura de 30% que passa a ser defenitivos, que temos acima*/
    box-sizing: border-box;
    /*podemos declarar assim de forma unificada o mesmo que os três comandos abaixo faz*/
    border: 2px solid #000000;
    /*uma borda possui tamanho, tipo, cor*/
    /*border-color: #000000;*/
    /*border-width: 2px;*/
    /*border-style: solid;*/
    /*mas podemos colocar uma medida diferente para cada canto*/
    border-radius: 10px;
}

/*comportamento de quando passamos o mouse*/
.produtos li:hover {
    border-color: #c78c19;

}

.produtos li:active {
    /*comportamento de quando clicamos com o mouse*/
    border-color: #088c19;
}

.produtos li:hover h2 {
    /*alterando o tamanho de fonte do h2 quando o mouse passar em cima do produtos*/
    font-size: 32.5px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    /*colocando espaçamento em cima, para os lados 0 e para baixo também 0, Obs. podemos colocar assim margin-top: 10px;*/
    margin: 10px 0 0;
}

footer {
    text-align: center;
    /*colocando uma imagem de fundo*/
    background: url("bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

/*colocando uma largura fixa e centralizando o conteúdo do form Obs. tive que remover para que o gradiente funcione*/
main {

}

/*margem superior e inferior de 40px e para os lados 0*/
form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    /*colocando uma margem para baixo de 10px*/
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    /*colocando uma margem para baixo de 20px*/
    margin: 0 0 20px;
    padding: 10px 25px;
    /*colocando o campo para ocupar 50% da página*/
    width: 50%;
}

.checkbox {
    /*colocando uma margem para cima e para baixo de 20px e 0px para os lados*/
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    /*mudando o tempo de transição de mudança de cor, Obs. depois de 1s posso colocar background, mas como esta com o all isso indica que será 1 segundo para todos os elementos*/
    transition: 1s all;
    /*mudando o cursor de seta para mão*/
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    /*aumentando os elementos em 20%*/
    transform: scale(1.2);
    /*podemos fazer juntas as duas transformação da propriedade transform ficaria assim, transform: rotate(70deg) scale(1.2); Obs. deg é graus*/
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: #ffffff;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

/*css da página inicial*/
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    /*essa configuração faz que essa fonte fique o dobro da fonte padrão, isso com o "em" que é a medida proporcional para píxels*/
    font-size: 2em;
    margin: 0 0 1em;
    /*limpando o float*/
    clear: left;
}

.principal {
    padding: 3em 0;
    background: #fefefe;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    /*faz o elemento fluturar mas ele fica como se estivesse com uma sombra, isso faz o texto ficar em volta da imagem, Obs. o float altera tudo que tem abaixo e para resolver isso use a propriedade "clear" indicando o mesmo lado do float*/
    float: left;
    margin: 0 20px 20px 0;
}

/*css do mapa*/
.mapa {
    /*3em para cima e para baixo e 0 para os lados, ou laterais*/
    padding: 3em 0;
    /*aplicando o gradiente de uma cor a outra, podemos colocar um grau de inclinação, isso é feito na primeira cor que administramos assim, linear-gradient(45deg, orange, blue); podemos ainda determinar a porcentagem que se inicia assim, linear-gradient(45deg, orange 50%,blue, black); temos também o gradiente em círculo que seria assim, radial-gradient(orange, blue); ele não tem grau por se tratar de um círculo*/
    background: linear-gradient(#fefefe, #888888);
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    /*margem para baixo*/
    margin: 0 0 2em;
    text-align: center;
}

/*css dos benefícios*/
.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    /*colocando os elementos um ao lado do outro, a lista é um elemento inline mas o ítem da lista é block, isso faz ele ocupar 100% da largura Obs. esse display inline-block tem um detalhe importante lá no html entre os elementos que é a lista e a imegem que não pode conter espaços entre eles, eles devem está colados*/
    display: inline-block;
    /*colocando a lista para ficar alinhada pela parte de cima*/
    vertical-align: top;
}

.itens {
    /*espaçamento da altura da linha, aqui fica com o tamanho da fonte mais 50%*/
    line-height: 1.5;
}

.itens:first-child {
    /*colocando apenas o primeiro item em negrito usando pseudo-classes, podemos controlar o primeiro elemento com o :first-child, o último com o :last-child, e qualquer elemento informando o número entre parênteses assim, :nth-child(3) Obs. acrescentando o n assim (2n) pegamos os números e seus pares*/
    font-weight: bold;
}

.itens::before {
    content: "✭ ";
}

.imagem-beneficios {
    width: 60%;
    /*opacidade, vai de 100% a 0% que é de 1 que exibi o elemento inteiro a 0 que não exibi nada*/
    opacity: 1;
    /*o efeito é em 400 milissegundos*/
    transition: 400ms;
    /*colocando sombra, ela tem uma propriedade do eixo x e y e uma cor, temos uma terceira propriedade, que é o grau de espalhamento da sombra, no fim ela vai de sólido para transparente, temos também uma quarta propriedade a intensidade*/
    box-shadow: 10px 10px 10px 0 #000000;
}

/*muda a opacidade ao passar o mouse*/
.imagem-beneficios:hover {
    opacity: 0.3;
}

/*css do vídeo*/
.video {
    width: 560px;
    margin: 2em auto;
}

/*com o media query perguntando ao browser qual o tamanho da tela, aqui com telas com largura máxima de 480px eu entrego um estilo diferente*/
@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;      
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .principal img {
        margin: 0 10px;
    }

    .principal p {
        margin: 0 10px;
    }

    .mapa-conteudo {
        margin: 0 10px;
    }

    .lista-beneficios {
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 95%;
    }

    .imagem-beneficios {
        margin: 0 10px;
    }

    .video {
        width: 95%;
    }
}



/*

---------------------------
Especifidade ou Hierarquia no CSS:
---------------------------
a tag tem o peso 1 
ex:
p {
}
ex:
form p {
}
Obs. nesse exemplo tem peso 1 + 1 = peso 2 pois usa duas tags a form e p
---------------------------
a class tem o peso 10 
ex:
.teste {
}
---------------------------
o id tem o peso 100
ex:
#teste {
}
---------------------------
a forma inline que é coloando direto na tag do html tem o peso como se fosse 1000
ex:
style="color: purple;
Obs. nada substitui ela
---------------------------
Propriedades do Pseudo-classes
---------------------------
:hover
:active
:visited
:required
---------------------------
Pseudo-elementos
---------------------------
usando Pseudo-elementos para deixa a primeira letra em negrito
.titulo-principal::first-letter {
    font-weight: bold;
}
---------------------------
elemento que vem antes, como ele funciona, ele cria um espaço que pode ser usado antes do elemento, ele não é selecionável com o mouse na página, ele é controlado só via css
.titulo-principal::before {
    Obs. entre aspas podemos colocar o que agente quiser
    content: "[ ";
}
---------------------------
elemento que vem depois, como ele funciona, ele cria um espaço que pode ser usado antes do elemento, ele não é selecionável com o mouse na página, ele é controlado só via css
.titulo-principal::after {
    content: " ]";
}
---------------------------
com o Pseudo-elemento colocando toda primeira linha dos parágrafos em itálico, Obs. apenas para explicação
p::first-line {
    font-style: italic;
}
---------------------------
Seletores avançados
---------------------------
Obs.  com o sinal de > podemos selecionar os filhos diretos da tag main, pois caso não tenha esse sinal a cor vermelha será aplicada em todas sa tags p que estiver dentro de main
main > p {
    background: red;
}
---------------------------
selecionando só um parágrafo que vem após uma imagem, nesse exemplo aqui ele é único
img + p {
    background: blue;
}
---------------------------
selecionando todos os parágrafos que vem após uma imagem, Obs. a ordem deles um sobreescre o outro pois seletores avançados tem a mesma força
img ~ p {
    background: yellow;
}
---------------------------
selecionando todos os parágrafos que não possui o id missão, isso é exclusão que é bom para fazer manutenção
.principal p:not(#missao) {
    background: orange;
}
---------------------------
Camada de Opacidade
---------------------------
opacidade, vai de 100% a 0% que é de 1 que exibi o elemento inteiro a 0 que não exibi nada, aqui no exemplo mostramos 30%
.imagem-beneficios {
    width: 60%;
    opacity: 0.3;
}
---------------------------
podemos também usar opacidades nas cores, não só apenas em elementos, aqui o a do rgb e o alpha e mudamos aqui a opcaidade para 30%
.titulo-principal {
    color: rgba(0, 0, 0, 0.3);
}
---------------------------
Aplicando sombras
---------------------------
colocando sombra, ela tem uma propriedade do eixo x e y e uma cor, temos uma terceira propriedade, que é o grau de espalhamento da sombra, no fim ela vai de sólido para transparente, 
temos também uma quarta propriedade a intensidade, podemos colocar mais de uma sombra assim,  box-shadow: 10px 10px 20px 70px #000000, -10px -10px yellow, -20px 20px rgba(255,0,0,0.5);
box-shadow: 10px 10px 20px 5px #000000;
---------------------------
criando uma sombra interna, aqui o terceiro elemento e o tomanho da borda se não ela não será mostrada
box-shadow: inset 0 0 30px #ff0000;
---------------------------
colocando uma sobra em textos
text-shadow: 2px 2px #ff0000;
---------------------------
Responsividade
---------------------------
quantidade de píxel na tela ou DPI densidade de píxel por polegadas
um celular hoje tem geralmente possui 320px de largura de tela


---------------------------

*/